/*
* @Author: guanxy
* @Date:   2018-05-09 22:59:47
* @Last Modified by:   guanxy
* @Last Modified time: 2018-05-09 23:01:02
*/
.order-product-img{
	width:80px;
	height: 80px;
	display: block;
	margin:0 auto;
}