/*
* @Author: guanxy
* @Date:   2018-05-03 23:38:33
* @Last Modified by:   guanxy
* @Last Modified time: 2018-05-04 21:27:13
*/
#page-wrapper{
  .opear{
	margin-right: 10px;
}
.page-header-right{
	float:right;
}

.cate-select{
	width: 200px;
	margin-left: 15px;
	display: inline-block;
	float: left;
}
}
