/*
* @Author: guanxy
* @Date:   2018-05-01 15:28:58
* @Last Modified by:   guanxy
* @Last Modified time: 2018-05-10 08:57:36
*/

#page-wrapper {
    .opear {
        margin-right: 5px;
    }
    .page-header-right {
            float: right;
        }


  }
    .searchRow {
        margin-bottom: 10px;
        .form-group {
            margin-right: 5px;
        }

        
    
    }
   .product-status1{
        display:inline-block;
        width:100%;
        font-weight: bold;
        color:green;
    }
     .product-status2{
        display:inline-block;
        width:100%;
        font-weight: bold;
        color:red;
    }