/*
* @Author: guanxy
* @Date:   2018-05-01 15:28:58
* @Last Modified by:   guanxy
* @Last Modified time: 2018-05-02 15:40:53
*/
.page-wrapper{
  .opear{
	margin-right: 5px;
}
.searchRow{
	margin-bottom: 10px;
	.form-group{
		margin-right:5px;
	}
}


}

.page-header-right{
	float:right;
}
