/*
* @Author: guanxy
* @Date:   2018-05-02 17:26:22
* @Last Modified by:   guanxy
* @Last Modified time: 2018-05-02 17:31:15
*/
.cate-select{
	width: 200px;
	margin-right: 15px;
	display: inline-block;
	float: left;
}